@model Emp.Models.Employeee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employeee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
